@model IEnumerable<Pack4Travel.Models.equipements>

@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
<div class="jumbotron">
@if (Request.IsAuthenticated)
{
    <p class="lead">Zarządzaj swoimi listami!</p>
}
else
{
    <p class="lead">Pack4Travel jest serwisem umożliwiającym tworzenie list rzeczy do spakowania na podróż.</p>
}
</div>

<div class="row">
    @foreach (var equipement in Model)
    {
        <div class="col-md-4">
            <h2 class="btn btn-block btn-primary">Lista @equipement.equipementName</h2>
            @foreach (var item in equipement.items)
            {
                <div class="btn btn-default btn-block">
                    @Html.DisplayFor(i => item.itemName)
                </div>
            }
        </div>
    }
</div>

