@model IEnumerable<Pack4Travel.Models.equipements>

@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
<div class="row">
    <div class="greeting">

        @if (Request.IsAuthenticated)
        {
            <p class="lead">Zarządzaj swoimi listami!</p>
        }
        else
        {
            <span>CIESZYMY SIĘ, ŻE TRAFIŁEŚ NA NASZĄ STRONĘ Pack4Travel! POMOŻEMY CI SIĘ SPAKOWAĆ NA KAŻDĄ OKAZJĘ. UTWÓRZ KONTO, ABY W PEŁNI KORZYSTAĆ Z SERWISU Pack4Travel.</span>
        }
    </div>
</div>

<div class="row">
    @foreach (var equipement in Model)
    {
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-heading">@equipement.equipementName</li>
                @foreach (var item in equipement.items)
                {
                    <li class="list-group-item">
                        @Html.DisplayFor(i => item.itemName)
                    </li>
                }
            </ul>
        </div>
    }
</div>

