
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 pull-right">
        <h2>Login</h2>
        @using (Html.BeginForm("Login", "Home", "POST"))
        {
            @Html.Label("login", "Login:")
            @Html.TextBox("login", null, new { @class = "form-control" })
            @Html.Label("password", "Password:")
            @Html.Password("password", null, new { @class = "form-control" })
            <input type="submit" value="Login" class="btn" />
        }
    </div>
</div>