@model IEnumerable<Pack4Travel.Models.items>

<h2>Zostaw te elementy</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.itemName)
        </td>
        @*<td>
            @Html.ActionLink("Usuń", "DeleteFromOwnerList", new { equipementId = , itemId=item.idItem }) 
        </td>*@
    </tr>
}

</table>
